form {
    border-radius: 5px;
    background-color: lightgray;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid blue;
}

button {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    background-color: #65ab88;
    color: white;
}

.container {
    align-content: center;
}

.navbar {
    background-color: #65ab88;
    border: 1px solid blue;
}

.float-left {
    float: left;
}

.carousel-control-prev-icon {
    color: blue;
}

.carousel-inner {
    border-radius: 5px;
    border: 1px solid blue;
}

.carousel-item {
    border: 1px solid blue;

}

.gitLink {
    font-size: 20px;
    font-weight: bold;
    align-content: center;
}

.card {
    background-color: lightgray;
    border: 1px solid blue;
    padding: 10px;
}

.card-img-top {
    border: 1px solid blue;

}

.btn {
    background-color: #65ab88;
}

#bio {
    border-radius: 5px;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid blue;
}