form {
    background-color: lightgray;
    margin-top: 10px;
    padding: 20px;
}

h1 {

}

.navbar {
    background-color: #65ab88;
}

.float-left {
    float: left;
}

.card {
    background-color: lightgray;
    padding: 10px;
}

.card-img-top {
    border: 1px solid black;

}

.card-text {

}

#bio {
    padding: 20px;
    background-color: lightgray;
    border: 1px solid black;
}